.WLMenu {
    float:left;
    height:35px;
    left:0px;
    position:fixed;
    z-index:2;
    width:100%;
    display:none;
    border-radius:4px;
    -moz-border-radius: 4px;
}
.WLMenuButton {
    float:left;
    height:20px;
    top:5px;
    font-size:5px;
    position:fixed;
    background-color:#708090; 
    opacity: 0.9; 
    width:100px;
    border-radius:10px;
    -moz-border-radius: 10px;
}
.WLMenuEditor {
    position:absolute;
    top:10px;
    right:10px;
    float:left; 
    height:130px;
    background-color:#6495ED; 
    z-index:2; 
    width:70%;
    border-radius:4px;
    -moz-border-radius: 4px;
}
.shadow {
-moz-box-shadow: 0 0 10px 1px #999;
-webkit-box-shadow: 0 0 10px 1px #999;
}
.roundCorners{
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.matchedElement{
    border-style:solid;
    border-color:#0A0002;
    border-width:1px;;
}
.gradient{
    background: -moz-linear-gradient(top, rgba(63,106,163,0.65) 0%, rgba(63,106,163,0.65) 10%, rgba(63,106,163,0) 65%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,106,163,0.65)), color-stop(10%,rgba(63,106,163,0.65)), color-stop(65%,rgba(63,106,163,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(63,106,163,0.65) 0%,rgba(63,106,163,0.65) 10%,rgba(63,106,163,0) 65%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(63,106,163,0.65) 0%,rgba(63,106,163,0.65) 10%,rgba(63,106,163,0) 65%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(63,106,163,0.65) 0%,rgba(63,106,163,0.65) 10%,rgba(63,106,163,0) 65%); /* IE10+ */
    background: linear-gradient(top, rgba(63,106,163,0.65) 0%,rgba(63,106,163,0.65) 10%,rgba(63,106,163,0) 65%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a63f6aa3', endColorstr='#003f6aa3',GradientType=0 ); /* IE6-9 */
}
.radial_gradient{
    background: -moz-radial-gradient(center, ellipse cover, rgba(86,249,49,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(86,249,49,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(86,249,49,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(86,249,49,1) 0%,rgba(125,185,232,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(86,249,49,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
    background: radial-gradient(center, ellipse cover, rgba(86,249,49,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56f931', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}