.WLMenu {
    float:left;
    height:150px;
    left:161px;
    background-color:#FFFFFF;
    position:fixed;
    opacity: 0.9;
    z-index:2;
    width:87%;
    display:none;
    border-radius:4px;
}
.WLMenuButton {
    float:left; 
    height:20px;
    position:fixed;
    background-color:#708090; 
    opacity: 1; 
    z-index:2; 
    width:100px;
    border-radius:10px;
}
.WLMenuEditor {
    position:absolute;
    top:10px;
    right:10px;
    float:left; 
    height:130px;
    background-color:#6495ED; 
    z-index:2; 
    width:70%;
    border-radius:4px;
}
.shadow {
-moz-box-shadow: 0 0 10px 1px #999;
-webkit-box-shadow: 0 0 10px 1px #999;
}