.missingElements a{
       display:block;
}
.falsePositiveElements a{
       display:block;
}

.mainResult a {
    display:inline;
    float: left;
    margin-right: 20px;
}
.missingElements {
    float:left;
    margin-right: 20px;
}

.goodResult {
    color: green;
}